@model Ecommerce.ViewModels.AddMenuViewModel

<h1>Add Category</h1>

<form asp-controller="Menu" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label><br/>
        <input asp-for="Name" class="col-sm-3" /><br/>
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Create Menu" />
</form>
