@model Ecommerce.ViewModels.AddProductViewModel

<h1>Add Product</h1>

<form asp-controller="Product" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="Name"></label></br>
        <input class="col-sm-3" asp-for="Name" /></br>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label><br/>
        <input class="col-sm-3" asp-for="Description" /><br/>
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label></br>
        <input class="col-sm-3" asp-for="Price" /><br/>
        <span asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        <label asp-for="Stock"></label></br>
        <input class="col-sm-3" asp-for="Stock" /><br/>
        <span asp-validation-for="Stock"></span>
    </div>

    <div class="form-group">
        <label asp-for="Photo"></label></br>
        <input class="col-sm-3" asp-for="Photo" /><br/>
        <span asp-validation-for="Photo"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryID"></label>
        <select asp-for="CategoryID" asp-items="Model.Categories"></select>
    </div>

    <input type="submit" value="Add Product" />
</form>